@import '../../styles/variables';

.dropdown {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 15px;
  line-height: 1rem;
  border: 1px solid $color-gray;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s ease-out 0s;

  &:focus {
    border-color: darken($color-gray, 10%);
    transition: 0.3s ease-out 0s;
  }

  &::placeholder {
    color: silver;
  }
}

.canClear {
  position: relative;

  input {
    padding-right: 15px;
  }
}
