@import '../../styles/variables';

.tagPart {
  display: block;
  height: 1rem;
  line-height: 1rem;
  padding-left: 14px;
  padding-right: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 10px);
}

.tag {
  display: inline-flex;
  vertical-align: top;
  margin: 2px;
  align-items: stretch;
  background: lighten($color-dark, 40%);
  font-size: 11px;
  color: white;
  max-width: 100%;
  transition: $transition;

  &:hover {
    background: lighten($color-dark, 20%);

   .tagClose {
     svg {
      opacity: 1;
      transition: $transition;
    }
   }
  }
}

.tagClose {
  width: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  padding-right: 2px;

  svg {
    opacity: 0;
    transition: $transition;
  }
}

.create {
  width: 1rem;
  justify-content: center;

  .tagPart {
    padding-left: 2px;
  }
}

.tagCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
}
