@import '../../../../styles/variables';
.PortfolioEditor {
  margin-top: 2rem;
  border-top: 1px solid #f1f1f1;
}
.selectPortfolio {
  width: 100%;
  max-width: 16rem;
}
.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 15px;
  line-height: 1rem;
  border: 1px solid $color-gray;
  transition: 0.3s ease-out 0s;
  &:focus {
    border-color: darken($color-gray, 10%);
    transition: 0.3s ease-out 0s;
  }
  &::placeholder {
    color: silver;
  }
}
