@import '../../styles/variables';

.Notification {
  width: 13rem;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: $color-dark;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: $box-shadow;
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
  }

  & + & {
    margin-top: 1rem;
  }
}

.NotificationMessage {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-left: 0.5rem;
}

.MainIcon {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  flex-shrink: 0;
}

.error {
  background-color: $color-red;
}
.success {
  background-color: $color-green;
}
.primary {
  background-color: $color-green;
}

.hide {
  display: none;
}
