@import '../../styles/variables';
.content {
  max-width: 1200px;
  padding: 64px 32px;
  margin: 0 auto;
}

.tooltip {
  border-radius: 0 !important;
  font-size: 11px !important;
  background-color: $color-dark !important;
  opacity: 0.8 !important;

  &:after {
    border-bottom-color: $color-dark !important;
    border-top-color: $color-dark !important;
  }
}