@import '../../styles/variables';

@keyframes modalAnimation {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.rightColumn {
  display: flex;
  align-items: center;
}
.container {
  max-height: 100%;
  overflow: auto;
  position: relative;
  padding: 2rem;
}
