@import '../../styles/variables';

.formWrapper {
  padding-bottom: 10vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: $color-dark;
}

.loginForm {
  position: fixed;
  width: 100%;
  max-width: 19rem;
  padding: 2rem;
}

.inputWrapper {
  margin: 1rem 0;

  & > input {
    background-color: transparent;
    color:white;
  }
}

.buttonWrapper {
  width: 100%;

  & > button {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
}
