@import '../../../styles/variables.scss';

.projectTitle {
  display: flex;
  align-items: center;
  margin: 0;
  color: $color-black;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  span[contenteditable="true"] {
    background-color: $color-gray;
  }

  span:empty {
    display: inline-block;
    min-width: 0.5rem;
  }
}

.projectPic {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
  box-sizing: border-box;
  object-fit: contain;
}

.prefix {
  display: inline-block;
  margin-left: 0.5rem;
  color: silver;
}

.edit {
  color: silver;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: $transition;

  &:hover {
    transform: rotate(360deg);
    transition: $transition;
  }
}

.wrong {
  background-color: $color-red !important;
  color: white;
}
