@import '../../../../styles/variables.scss';

.TableCell {
  padding: 10px 15px;
  text-align: left;
  font-weight: 600;
}
.TableCellName {
  flex-basis: 20%;
  max-width: 20%;
}
.TableCellLogin {
  flex-basis: 12%;
  max-width: 12%;
}
.TableCellDesc {
  flex-basis: 20%;
  max-width: 20%;
}
.TableCellDate {
  flex-basis: 13%;
  max-width: 13%;
}
.TableCellActivity {
  flex-basis: 10%;
  max-width: 10%;
  text-align: center;
}

.TableHeader {
  display: flex;
  background-color: $color-gray;
}
