@import '../../../../styles/variables.scss';

.TableCell {
  flex-basis: 23%;
  max-width: 23%;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.TableHeader {
  display: flex;
  background-color: $color-gray;
}
