@import '../../../../styles/variables.scss';
@import '../tableVariables.scss';

.TableCell {
  padding: 10px 15px;
  text-align: left;
  font-weight: 600;
}

.TableCellName {
  flex-basis: $name-width;
  max-width: $name-width;
}

.TableCellLastName {
  flex-basis: $last-name-width;
  max-width: $last-name-width;
}

.TableCellLogin {
  flex-basis: $login-width;
  max-width: $login-width;
}

.TableCellType {
  flex-basis: $type-width;
  max-width: $type-width;
}

.TableCellDesc {
  flex-basis: $desc-width;
  max-width: $desc-width;
}

.TableCellDate {
  flex-basis: $date-width;
  max-width: $date-width;
}

.TableCellActivity {
  flex-basis: $activity-width;
  max-width: $activity-width;
  text-align: center;
}

.TableCellButtonPanel {
  flex-basis: $button-panel-width;
  max-width: $button-panel-width;
}

.TableHeader {
  display: flex;
  background-color: $color-gray;
}
