@import '../../../styles/variables.scss';

.budget {
  display: flex;
  flex-wrap: wrap;

  .editIcon {
    opacity: 0;
    transition: $transition;
  }

  &:hover .editIcon {
    opacity: 0.6;
  }

  .editor {
    input {
      padding: calc(0.25rem - 1px);
      margin-left: 0.25rem;
      width: 5rem;
    }
  }
}

.budgetValue {
  line-height: 1rem;
  padding: 0.25rem;
  margin-left: 0.25rem;
}

.title {
  display: flex;
  align-items: center;
}

.editIcon {
  display: inline-flex;
  margin-left: 0.25rem;
  align-items: center;
  color: $color-dark;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: $transition;

    .save {
      color: $color-green;
    }
  }
}
