@import '../../../styles/variables.scss';

.budget {
  display: flex;

  .editor {
    input {
      padding: calc(0.25rem - 1px);
      margin-left: 0.25rem;
      width: 3rem;
    }
  }
}

.budgetValue {
  line-height: 1rem;
  padding: 0.25rem;
  margin-left: 0.25rem;
}

.title {
  display: flex;
  align-items: center;
}
