.container {
  display: none;
  position: absolute;
  width: 100px;
  height: 40px;
  z-index: 2;
  background-color: rgba(43, 62, 80, 0.8);
  right: -106px;
  top: -46px;
  
  &.open {
    display: block;
  }
}

.content {
  margin: auto;
  padding: 13px 10px;
}
