@import '../../../styles/variables.scss';

.container {
  display: block;
  @include absolute;
  left: initial;
  width: 0.75rem;
  height: 100%;
  z-index: 2;
  
  &.open {
    display: block;
  }
}

.content {
  @include absolute;
}

.shorter {
  bottom: 11px;
  height: initial;
}
