@import '../../styles/variables';

@keyframes modalAnimation {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.Select {
  width: 100%;
}
.rightColumn {
  display: flex;
  align-items: center;
}
.container {
  max-height: 100%;
  overflow: visible;
  position: relative;
  padding: 2rem;
  max-width: 100%;
  width: 380px;
  @include phone {
    width: 100%;
    padding: 1rem;
  }

  button {
    margin-top: 1rem;
  }
}
