.itemContent {
  padding: 3px 7px 10px 35px;

  a {
    color: inherit;
  }
}

.itemId {
  float: left;
  width: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}

.itemDate {
  float: right;
  font-size: 12px;
}

.itemHead {
  padding-bottom: 20px;

  &:after {
    content: '';
    width: 100%;
    clear: both;
    display: block;
  }
}

.itemProgressBar, .itemInfo, .statusButton, .itemActionsInner {
  display: inline-block;
  vertical-align: middle;
}

.itemInfo {
  width: 84%;
}

.itemProgressBar {
  width: 50%;
  max-width: 120px;
  margin-top: 17px;
}

.itemActions{
  float: right;
  margin-top: 20px;
}

.itemActionsInner{
  text-align: right;
  position: relative;
  left: 10px;
}

.creatorText {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75em;
  margin-top: 5;
}

.taskLink {
  color: rgba(0, 0, 0, 0.87);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 1023px) {
  .itemInfo {
    height: 33px;
    overflow: hidden;
    font-size: 13px;
  }

  .statusButton {
    float: right;
    position: relative;
    right: 5px;
    top: -35px;
  }

  .itemActions {
    margin-top: -50px;
  }

  .itemProgressBar {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .itemInfo {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .itemInfo {
    width: 82%;
  }
}

@media only screen and (min-width: 1280px) {
  .itemInfo {
    width: 84%;
  }
}
