@import '../../styles/variables.scss';

.edit {
  color: silver;
  cursor: pointer;
  margin-left: 8px;
  transition: $transition;
  margin-bottom: -4px;

  &:hover {
    transform: rotate(360deg);
    transition: $transition;
  }
}

.projectName {
  // display: inline-block;
  width: auto;
  min-width: 100px;
  max-width: 65%;
  &[contenteditable="true"] {
    background-color: lightblue;

    &:empty {
        display: inline-block;
        width: 100px;    
    }
  }
}

.wrong {
  background-color: #c64949 !important;
}
