@import '../../../styles/variables.scss';

.createSprintForm {
  max-width: 100%; // ie fix
  width: 500px; // ie fix
  padding: 2rem;

  input,
  .DayPickerInput {
    margin-bottom: 1rem;
  }

  @include phone {
    padding: 1rem;
    min-width: 290px; // ie fix
    width: 100%; // ie fix
  }
}