@import '../../../../styles/variables.scss';

.goal {
  & + .goal {
    margin-top: 0.75rem;
  }

  &:hover {
    .actionIcon {
      opacity: 0.6;
      transition: $transition;
    }
  }
}

.name {
  line-height: 1.3;
}

.mainContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.description {
  margin-left: 1.5rem;
  max-width: 30rem;
  font-size: $font-size-small;
  color: gray;
  margin-top: 0.25rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.removedIcon {
  margin-right: 0.5rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  color: $color-dark-gray;
}

.removed {
  color: $color-dark-gray;
  text-decoration: line-through;
}

.actionButtons {
  display: flex;
  align-items: center;
  height: 1rem;
  margin-left: 0.5rem;
  line-height: $font-size-base;

  & > .actionIcon {
    font-size: 1rem;
    color: gray;
    opacity: 0;
    margin-left: 0.4rem;
    cursor: pointer;
    transition: $transition;

    &:hover {
      opacity: 1;
      transition: $transition;
    }
  }
}

.modify {
  animation: activeGoal 1s linear forwards;
}

@keyframes activeGoal {
  0% {
    margin-left: 0px;
  }
  30% {
    background-color: #f2b866;
  }
  50% {
    margin-left: 100px;
  }
  70% {
    background-color: none;
  }
  100% {
    margin-left: 0px;
  }
}
