.ScrollTop {
  display: inline-block;
  position: fixed;
  bottom: 48px;
  right: 48px;
  background-color: #3d5871;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.17);
  padding: 16px;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #50779b;
  }
}
