.wrapper {
  margin-bottom: 120px;
}

.dropBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.imagesBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.imageItem {
  position: relative;
  width: 25%;
  height: auto;
  padding: 8px;
  box-sizing: border-box;
}

.imageImg {
  width: 100%;
  height: auto;
}

.iconRemove {
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  fill: '#a5a5a5';
  border: 2px solid transparent;
  border-radius: 50%;
}

.dropZone {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 1px dashed transparent;
}

.dropZoneText {
  font-size: 14px;
  text-align: center;
}

.dropBtnHelper {
  font-size: 14px;
  margin-left: 20px;
}
