@import '../../styles/variables';

.wrapperAddTags {
  position: relative;
}
.tagPopup {
  display: flex;
  position: absolute;
  top: 1.5rem;
  left: -6rem;
  box-shadow: $box-shadow;
  z-index: 3;
  background-color: white;
}
.tagsButton {
}
.tagsInput {
  box-sizing: border-box;
  width: 10rem;
  padding: 7px 15px;
  line-height: 1rem;
  border: 1px solid $color-gray;
  transition: 0.3s ease-out 0s;

  &:focus {
    border-color: darken($color-gray, 10%);
    transition: 0.3s ease-out 0s;
  }

  &::placeholder {
    color: silver;
  }
}
.loadMore {
  display: inline-block;
  margin: 2px;
  font-size: 11px;
  color: lighten($color-dark, 30%);
  text-decoration: underline;
  cursor: pointer;
}