@import '../../styles/variables';

.wrapperAddTags {
  position: relative;
}
.tagPopup {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: white;
}
.tagsInput {
  min-width: 150px;
}
.tagsButton {
}