@import '../../../../styles/variables.scss';

.leftColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;

  p {
    margin: 0;
  }
}

.rightColumn {
  display: flex;
  align-items: center;
}

.formField {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

.jiraCaptchaLink {
  margin-top: 1rem;
  border: 1px solid $color-red;
  padding: 10px 15px;
  max-width: 266px;

  a {
    color: $color-red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.emailLabel {
  position: relative;
  @include infoIcon();
}

.mainContainer {
  min-width: 330px;
  max-width: 500px;
  padding: 2rem;

  h3 {
    margin-top: 0;
  }
}

.buttonsContainer {
  margin-top: 2rem;
  text-align: center;
  button {
    width: 50%;
  }
}
