@import '../../../styles/variables.scss';

.Metrics {
  h2 {
    text-align: left;
  }
  h3 {
    text-align: left;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .rowBorder {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $color-gray;
  }
}
