.SprintReport {
  & > div:last-child {
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
  }
  .disabled {
    pointer-events: none;
    cursor: default;
    color: silver;
    text-decoration: none;
  }
}
