@import '../../styles/variables';

.userCard {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  margin-left: -120px;
  width: 240px;
  padding: 1rem;
  border: 1px solid $color-gray;
  background-color: white;
  text-align: center;
  z-index: 1;
  box-shadow: $box-shadow;
}

.wrapper {
  position: relative;
  display: inline-block;
}