@import '../../../../styles/variables';

.button {
  flex-shrink: 0;
}

.headerColumn {
  display: flex;
  margin-bottom: 1rem;

  @include tablet {
    flex-wrap: wrap;
  }

  .selectWrapper {
    flex-grow: 1;
    max-width: 433px;
    width: 100%;
    margin-right: 1rem;

    @include tablet {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}

.headerColumnWrapper {
  flex-basis: 50%;
  max-width: calc(50% - 37px);
  padding: 0 0.5rem;
}

.progressBarWrapper {
  height: 8px;
  background: silver;
  margin-bottom: 2rem;

  .progressBar {
    height: 100%;
    background-color: $color-green;

    &.exceeded {
      background-color: $color-red;
    }
  }
}
