@import '../../../../styles/variables';

.headerColumn {
  display: flex;
  margin-bottom: 1rem;

  @include tablet {
    flex-wrap: wrap;
  }

  .selectWrapper {
    flex-grow: 1;
    max-width: 433px;
    width: 100%;
    margin-right: 1rem;

    @include tablet {
      margin-bottom: 1rem;
    }
  }
}

.headerColumnWrapper {
  flex-basis: 40%;
  flex-grow: 1;
}

.progressBarWrapper {
  height: 8px;
  background: silver;
  margin-bottom: 2rem;

  .progressBar {
    height: 100%;
    background-color: $color-green;

    &.exceeded {
      background-color: $color-red;
    }
  }
}
