@import '../../../../styles/variables';

.button {
  flex-shrink: 0;
}

.headerColumn {
  position: relative;
  display: flex;
  margin-bottom: 1rem;

  @include tablet {
    justify-content: space-between;
  }

  .selectWrapper {
    flex-grow: 1;
    max-width: 433px;
    margin-right: 1rem;

    @include tablet {
      min-width: 0;
    }

    @include phone {
      margin-bottom: 1rem;
      width: auto;
      max-width: none;
    }
  }
  .sprintTimeWrapper {
    pointer-events: none;
    position: absolute;
    top: 5px;
    right: 200px;

    .sprintTime {
      display: block;
      text-align: right;
      line-height: 1rem;
      margin: 4px 0 14px;
      @include phone {
        display: none;
      }
    }
  }
}

.headerColumnWrapper {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 0.5rem;

  @include phone {
    flex-basis: auto;
    width: 100%;
    max-width: none;
  }
}

.progressBarWrapper {
  height: 8px;
  background: silver;
  margin-bottom: 2rem;

  .progressBar {
    height: 100%;
    background-color: $color-green;

    &.exceeded {
      background-color: $color-red;
    }
  }
}
