@import '../../../../styles/variables.scss';

.startEndDatesWrp {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.startEndDates {
  max-width: 170px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: left;
  font-weight: 600;
  input {
    margin-top: 10px;
  }
}
