@import '../../../styles/variables.scss';

.statusContainer {
  margin-right: 8px;
  display: inline-flex;
  align-items: flex-start;

  .statuses {
    position: relative;
    width: 120px;
  }

  .status {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding: 0 8px;
    line-height: 16px;
    font-size: 12px;
    background: gray;

    &.inProgress {
      background: $color-green;
    }
  }

  .dropList {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
}