@import '../../styles/variables.scss';

.title {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}

.row {
  margin-bottom: 1rem;
  justify-content: flex-end;

  .buttonCol {
    display: flex;
    padding: 0 8px;
    align-items: flex-start;
  }

  @include phone {
    justify-content: flex-start;
    flex-direction: column; // ie fix
    flex-basis: auto; // ie fix

    > div {
      margin-bottom: 1rem;
    }
  }
}
.showMoreIcon {
  fill: $color-dark-gray;
  width: 21px;
  height: 21px;
  transition: transform 0.3s ease;
  will-change: transform;
}
.iconReverse {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
.collapseAllContainer {
  display: flex;
  align-items: center;
}
