@import '../../styles/variables.scss';

.titleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usersRolesTable {
  position: relative;
  th,
  td {
    height: 3rem;
    padding: 0.5rem 1rem;
  }
}

.userRow {
  &:hover {
    td {
      transition: $transition;
      background: $color-gray;
    }
  }
}

.usersRolesHeader {
  text-align: left;
  &:hover {
    th {
      transition: $transition;
      background: $color-gray;
    }
  }
}

.userRowFullName {
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  transition: $transition;
  &:hover {
    color: $color-dark;
  }
}
