@import '../../styles/variables.scss';

.taskRow {
  td {
    transition: $transition;
  }

  &:hover {
    td {
      background: $color-gray;

      &.weekend {
        background-color: lighten(black, 93%);
        transition: $transition;
      }
    }

    .deleteTask {
      opacity: 1;
    }
  }
}

.sheetsHeader {
  .changeWeek svg {
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    th {
      background: $color-gray;
      transition: $transition;
      
      &.weekend {
        background-color: lighten(black, 93%);
        transition: $transition;
      }
    }

    .changeWeek svg {
      opacity: 0.7;
    }
  }
}

.tableContainer {
  
  @include phone {
    overflow-x: auto;
  }
}

.taskCard {
  padding-left: 1rem;
  max-width: 20rem;
}

.timeCell {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  position: relative;

  &.filled {
    input {
      background: $color-dark;
      color: rgba(white, .7);

      &:focus {
        color: white;
      }
    }

    .toggleComment {
      color: rgba(white, .5);

      &:hover {
        color: rgba(white, .8);
      }
    }
  }

  input {
    // padding: 1rem;
    border: none;
    background: rgba(black, .05);;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.toggleComment {
  cursor: pointer;
  font-size: 80%;
  color: silver;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  &:hover {
    color: gray;
  }

  &.checked {
    color: $color-green;

    &:hover {
      color: lighten($color-green, 10%);
    }
  }
}

.day {
  padding: 0.5rem;
}

.weekend {
  background-color: lighten(black, 98%);
}

.meta {
  max-width: 100%;
  overflow: hidden;
  opacity: 0.7;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;

  span {
    display: inline-block;

    & + span {
      border-left: 1px solid rgba(black, .3);
      margin-left: 0.3rem;
      padding-left: 0.3rem;
    }
  }
}

.total {
  padding: 0.5rem 1rem;
  text-align: center;

  & > div {
    display: inline-block;
  }

  .toggleComment {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 100%;
    vertical-align: middle;
    margin-left: 0.5rem;
  }
}

.actions {
  padding: 0.5rem;
  position: relative;
}

.deleteTask {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: $transition;
}

.totalWeek {
  font-weight: bold;
}

.totalRow {
  text-align: left;
  position: relative;
  padding-right: 1.5rem;
}

.add {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
  color: lighten($color-black, 40%);
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid $color-gray;
  border-top: 1px solid $color-gray;
  transition: $transition;

  .tooltip {
    display: none;
  }

  &:hover {
    background: rgba($color-black, 0.05);
    transition: $transition;

    .tooltip {
      display: block;
    }
    svg {
      display: none !important;
    }
  }
}

.prevWeek, .nextWeek {
  font-size: 1.5rem;

  svg {
    cursor: pointer;
    opacity: 0.5;
    transition: $transition;

    &:hover {
      opacity: 1;
      transition: $transition;
    }
  }
}

.prevWeek {
  text-align: right;
}

.nextWeek {
  text-align: left;
}

.dateDropdown {
  box-shadow: $box-shadow;
  background: white;
  border: 1px solid $color-gray;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.singleComment,
.totalComment {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.totalComment {
  display: flex;
  background-color: white;
  align-items: stretch;
  box-shadow: $box-shadow;

  textarea {
    resize: none;
    height: 3.5rem;
    width: 15rem;
  }
}

.commentDropdown {
  display: flex;
  z-index: 3;
  background: white;
  color: $color-black;
  font-size: 13px;
  box-shadow: $box-shadow;

  textarea {
    resize: none;
    height: 3.5rem;
    width: 15rem;
  }
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-green;
  font-size: 1.5rem;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: lighten($color-green, 10%);
    transition: $transition;
  }
}

.checkAll {
  @extend .saveBtn;
  height: auto;
}

.today {
  border: 1px solid $color-green;
}

th.today {
  border-bottom-width: 0;
}

td.today {
  border-top-width: 0;
  border-bottom-width: 0;
}

tr:nth-last-child(2) td.today {
  border-bottom-width: 1px;
}

.totalCommentPart {
  display: flex;

  .commentDay {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border: 1px solid $color-gray;
    border-right: none;
    color: gray;
    transition: $transition;
  }

  &:hover .commentDay {
    background: $color-gray;
  }

  & + .totalCommentPart {
    textarea, .commentDay {
      border-top: none;
    }
  }
}