@import '../../../../styles/variables.scss';

.sprintSelectWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .sprintSelector {
    // padding: 1rem 0;
    flex-basis: 40%;
    max-width: 600px;
    margin-right: 20px;
  }
}
