@import '../../../../styles/variables.scss';

.sprintSelectWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .sprintSelector {
    // padding: 1rem 0;
    flex-basis: 40%;
    max-width: 600px;
    margin-right: 20px;
  }
}

.sprintMarker {
  display: flex !important;
  align-items: center;

  span {
    display: inline-block;
  }

  &:before {
    content: '';
    flex-shrink: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: silver;
    margin-right: 0.5rem;
    vertical-align: text-top;
  }
}

.INPROGRESS:before {
  background-color: $color-green;
}

.PLANNED:before {
  background-color: lighten($color-dark, 10%);
}

.FINISHED:before {
  background-color: darken($color-gray, 10%);
}
