@import './variables';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);

body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  margin: 0;
}

a {
  color: lighten($color-dark, 30%);
}

hr {
  border: none;
  border-bottom: 1px solid $color-gray;
  margin: 32px 0;
}