// Custom Colors
$color-dark: #2b3e50;
$color-lightgray: #fafafa;
$color-blue: #46b8da;
$color-gray: #f1f1f1;
$color-orange: #ff7800;
$color-red: #d9534f;
$color-black: #333;
$color-green: #5cb85c;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;
$font-size-base: 14px;

// Transitions
$transition: all 0.3s ease-out 0s;