version: '3.3'

services:
  t2front:
    image: {{ deploy_docker_registry_image }}
{% if deploy_app_volumes %}
    volumes:
{% for item in deploy_app_volumes %}
      - {{ item }}
{% endfor %}
{% endif %}
{% if deploy_app_envs %}
    environment:
{% for item in deploy_app_envs %}
      - {{ item }}
{% endfor %}
{% endif %}
{% if deploy_app_docker_labels %}
    labels:
{% for item in deploy_app_docker_labels %}
      - {{ item }}
{% endfor %}
{% endif %}
    restart: unless-stopped
    networks:
      - track2
    restart: unless-stopped

networks:
  track2:
    external: true
