@import '../../../../styles/variables.scss';

.modalWrapper {
  width: 100%;
  padding: 16px !important;
  overflow-y: scroll !important;
  min-height: 560px;
}

.addCaseToPlan {
  color: $color-green;
  cursor: pointer;
}

.removeCaseToPlan {
  color: $color-red;
  cursor: pointer;
}

.submitRow {
  margin-top: 2em;
}

.detailsBlock {
  margin-left: 16px;
  background: $color-lightgray;
  border: 1px solid $color-gray;
  font-size: 13px;
  color: lighten($color-black, 20%);
  @include phone {
    margin-left: 0;
  }

  .detailsBlock_row {
    display: grid;
    grid-template-columns: 6fr 4fr;

    &:hover {
      background-color: $color-gray;
      transition: $transition;
    }

    div {
      padding: 15px;
    }
  }
}
