@import '../../../styles/variables.scss';

.title {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}

.row {
  margin-bottom: 1rem;
  justify-content: flex-end;

  .buttonCol {
    display: flex;
    padding: 0 8px;
    align-items: flex-start;
  }

  @include phone {
    justify-content: flex-start;
    flex-direction: column; // ie fix
    flex-basis: auto; // ie fix

    > div {
      margin-bottom: 1rem;
    }
  }
}
