@import '../../styles/variables';

.gobackButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: $z-dropdown-layer;
  bottom: 1rem;
  left: 14rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  font-size: 1rem;
  opacity: 1;
  background-color: lighten($color-dark, 10%);
  color: white;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: $transition;

  &_compact {
    left: 3rem;
  }

  svg {
    opacity: 0.7;
    margin-left: 0.5rem;
    flex-shrink: 0;
  }

  .gobackButtonText {
    font-size: $font-size-base;
    margin-left: 0.25rem;
    display: none;
  }

  &:hover {
    background-color: $color-dark;
    width: 5rem;

    .gobackButtonText {
      display: inline-block;
    }
  }

  @include tablet-portrait {
    bottom: 0.4rem;
    left: 0.15rem;
    height: 1.6rem;
    width: 1.6rem;

    svg {
      margin-left: 0.3rem;
    }
  }
}
