@import '../../styles/variables';

.goBackTogglerWrapper {
  position: fixed;
  z-index: 0; // New z-index stack created
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 215px;
  opacity: 1;
  border: 1px solid $color-gray;
  cursor: pointer;
  @include tablet-portrait {
    bottom: 20px;
    left: 15px;
    top: inherit;
    transform: none;
  }
  &:hover {
    .goBackToggler {
      opacity: 1;
      transition: $transition;
    }
  }
}

.goBackToggler {
  @include absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  color: lighten($color-dark, 50%);
  opacity: 1;
  transition: $transition;
  border-radius: 50%;
  svg {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%) scale(2);
    @include tablet-portrait {
      right: inherit;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
    }
  }
}