$borderColor: #e9e9e9;
$redIconColor: #e77f8c;
$yellowColor: #ffc107;
$greyColor: grey;

.contentColumn {
  border-left: 1px $borderColor solid;
}

.testPlanCreateContainer {
  border-bottom: 1px $borderColor solid;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.createTestPlanTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.typeSelectorWrapper {
  display: flex;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;

  & > .nameBlock {
    padding: 0px 0.5rem;
  }
}

.active {
  background-color: $borderColor;
}

.testCaseItemWrapper {
  padding: 0.5rem;
  border-bottom: 1px $borderColor solid;
  display: flex;
  justify-content: space-between;
}

.testCaseSelectorWrapper {
  display: flex;
}

.testCaseInfoRow {
  display: flex;

  & > div {
    display: flex;
    align-items: center;
  }
  & > div:not(:last-child) {
    margin-right: 1rem;
  }
}

.testCaseTitle {
  font-size: 1rem;
}

.testCaseContent {
  padding-left: 0.5rem;
}

.selectorClass {
  flex: 0.5;
}

.assignAllWrapper {
  background-color: $borderColor;
  margin-bottom: 1rem;

  & > .selectorClass {
    background-color: white;
  }
}

.typesColumn {
  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }
}

.testCaseInfoIcon {
  margin-right: 4px;
}

.testCaseInfoIconRed {
  @extend .testCaseInfoIcon;
  color: $redIconColor;
}

.testCaseInfoIconGrey {
  @extend .testCaseInfoIcon;
  color: $greyColor;
}

.testCaseInfoIconYellow {
  @extend .testCaseInfoIcon;
  color: $yellowColor;
}

.testPlanDetailsLabel {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
