@import '../../styles/variables';

.filterList {
  padding: 6px 2rem 6px 0;
  position: relative;
  min-height: 2rem;
  line-height: 20px;
  color: $input-color-placeholder;

  &:hover {
    .clearAllFilter {
      opacity: 1;
    }
  }
}

.filterCol {
  padding: 0 0.5rem;
}

.filterListShowMore {
  position: relative;
  height: 0;
  margin: 1rem 0;
  border-top: 1px solid #ebebeb;
  text-align: center;
}

.filterListShowMoreButton {
  display: inline-block;
  padding: 0 1rem;
  margin-top: -1rem;
  font-size: 0;
  background-color: #fff;
  cursor: pointer;
}

$icon-size: 1.25rem;

.clearAllFilter {
  cursor: pointer;
  // position: absolute;
  // display: flex;
  // top: 0;
  // bottom: 0;
  // right: 0;
  display: inline-block;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center;
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
  opacity: 0;
  transition: $transition;

  &:hover {
    color: $color-dark;
    transition: $transition;
  }
}

.filterListShowMoreIcon {
  fill: $color-dark-gray;
  width: 21px;
  height: 21px;
  transition: transform 0.3s ease;
  will-change: transform;
}

.filtersRow {
  margin-bottom: 1rem;
  overflow: hidden;
}

.iconReverse {
  transform-origin: 50% 50%;
  transform: scale(1, -1);
}
