@import '../../../styles/variables.scss';

.TableCell {
  flex-basis: 25%;
  max-width: 25%;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.TableHeader {
  display: flex;
  background-color: $color-gray;
}
.ExternalUsersTable {
  min-width: 600px;
}
