$name-width: 14%;
$last-name-width: 14%;
$login-width: 14%;
$desc-width: 14%;
$date-width: 14%;
$activity-width: 8%;
$type-width: 10%;
$button-width: 4%;

$number-of-buttons: 3;
$button-panel-width: calc($button-width * $number-of-buttons);
