@import '../../../../styles/variables.scss';

.TableCell {
  flex-basis: 24%;
  max-width: 24%;
  padding: 10px;
  text-align: center;
}
.TableCellDelete {
  flex-basis: 4%;
  max-width: 4%;
}
.TableHeader {
  display: flex;
}
