@import '../../../../styles/variables.scss';

.TableCell {
  flex-basis: 23%;
  max-width: 23%;
  padding: 10px;
  text-align: center;
}
.TableCellEdit {
  flex-basis: 4%;
  max-width: 4%;
}
.TableHeader {
  display: flex;
}
