@import '../../../../styles/variables.scss';
@import '../tableVariables.scss';

.TableCell {
  padding: 10px 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TableCellName {
  flex-basis: $name-width;
  max-width: $name-width;
}

.TableCellLastName {
  flex-basis: $last-name-width;
  max-width: $last-name-width;
}

.TableCellLogin {
  flex-basis: $login-width;
  max-width: $login-width;
}

.TableCellType {
  flex-basis: $type-width;
  max-width: $type-width;
}

.TableCellDesc {
  flex-basis: $desc-width;
  max-width: $desc-width;
}

.TableCellDate {
  flex-basis: $date-width;
  max-width: $date-width;
}

.TableCellActivity {
  flex-basis: $activity-width;
  max-width: $activity-width;
  justify-content: center;
}

.TableCellButton {
  flex-basis: $button-width;
  max-width: $button-width;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TableRow {
  display: flex;
  min-height: 55px;
  border: 1px solid $color-gray;
  border-top: none;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.editIcon {
  width: 16px;
  height: 16px;
}

.select {
  width: 100%;
}

.TableRow {
  .TableCell {
    .select.typeSelectValue.isDisabled {
      cursor: auto;
      background: transparent;
      border: none;

      div {
        padding-left: 0;
      }
    }
  }
}
