@import '../../../../../../../../styles/variables.scss';

.formField {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

.form {
  max-width: 100%;
  width: 500px;
  padding: 2rem;

  @include phone {
    padding: 1rem;
    width: 100%;
  }
}

.buttonContainer {
  padding-top: 30px;
}
