@import '../../../styles/variables.scss';

.detailsBlock {
  margin-left: 16px;
  background: $color-lightgray;
  border: 1px solid $color-gray;
  font-size: 13px;
  color: lighten($color-black, 20%);

  @include phone {
    margin-left: 0;
  }
}

.detailTable {
  width: 100%;

  tr:hover {
    td {
      background-color: $color-gray;
      transition: $transition;
    }
  }

  td {
    padding: 8px;
    vertical-align: top;
    min-height: 32px;
    line-height: 1rem;
    transition: $transition;

    &.tags {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
    }

    &.byClient {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
    }

    &:first-child {
      padding-left: 16px;

      @include phone {
        padding-left: 0.5rem;
      }
    }

    &:last-child {
      padding-right: 16px;

      @include phone {
        padding-right: 0.5rem;
      }
    }
  }

  tr {
    &:first-child {
      td {
        padding-top: 16px;
      }
    }

    &:last-child {
      td {
        padding-bottom: 16px;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.factTime {
  cursor: pointer;
}
.alert {
  color: $color-red;
}
.success {
  color: $color-green;
}

.timeString {
  display: flex;

  span {
    display: block;
    white-space: nowrap;
    flex-shrink: 0;
    padding-right: 0.5rem;
    // text-align: right;

    &:first-child {
      width: 5rem;
    }

    &:nth-child(2) {
      width: 2rem;
    }
  }
}

.unassigned {
  color: lighten($color-black, 40%);
  border-bottom: 1px lighten($color-black, 40%) dashed;
}

.editableCell {
  cursor: pointer;

  .editIcon {
    display: inline-block;
    margin-left: 0.25rem;
    vertical-align: middle;
    line-height: 0;
    opacity: 0;
    transition: $transition;
  }

  &:hover {
    color: $color-dark;
    color: lighten($color-dark, 30%);

    .editIcon {
      opacity: 0.7;
      transition: $transition;
    }
  }
}
