@import '../../../styles/variables.scss';

.detailsBlock {
  margin-left: 16px;
  background: $color-lightgray;
  border: 1px solid $color-gray;
  font-size: 13px;
  color: lighten($color-black, 20%);

  @include phone {
    margin-left: 0;
  }
}

.detailTable {
  width: 100%;

  td {
    padding: 8px;
    vertical-align: top;

    &.tags {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
    }

    &:first-child {
      padding-left: 16px;

      @include phone {
        padding-left: 0;
      }
    }

    &:last-child {
      padding-right: 16px;

      @include phone {
        padding-right: 0;
      }
    }
  }

  tr {
    &:first-child {
      td {
        padding-top: 16px;
      }
    }

    &:last-child {
      td {
        padding-bottom: 16px;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.alert {
  color: $color-red;
}

.factTime {
  cursor: pointer;
}

.timeString {
  display: flex;

  span {
    display: block;
    white-space: nowrap;
    flex-shrink: 0;
    padding-right: 0.5rem;
    // text-align: right;

    &:first-child {
      width: 5rem;
    }

    &:nth-child(2) {
      width: 2rem;
    }
  }
}

.unassigned {
  color: lighten($color-black, 40%);
  border-bottom: 1px lighten($color-black, 40%) dashed;
}