@import '../../styles/variables';

.container {
  width: 100%;
  position: relative;
}

.error {
  color: $color-red;
}

.message {
  font-size: $font-size-small;
  display: inline-block;
  padding: 0 0.25rem;
  background: white;
  position: absolute;
  top: calc(102%);
  left: 0.75rem;
  max-width: calc(100% - 1.5rem);
}
