@import '../../styles/variables.scss';

.edit {
  display: inline-block;
  box-sizing: content-box;
  color: silver;
  cursor: pointer;
  padding: 7px;
  position: absolute;
  top: -1rem;
  left: -1rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid lighten($color-black, 70%);
  border-radius: 50%;
  transition: $transition;

  &:hover {
    background-color: $color-lightgray;
    fill: $color-dark;
    border-color: $color-dark;
  }
}

.save {
  @extend .edit; 
  color: $color-green;
  border: 1px solid $color-green;

  &:hover {
    background-color: $color-green;
    fill: white;
    border-color: $color-green;
  }
}

.projectDate {
  position: relative;
  z-index: 0; // New z-index stack created
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
   &.edited .editBorder {
     opacity: 1;
     background-color: transparent;
   }

  h1, h2, h3, h4, h5 {
    position: relative;
    z-index: 2;
  }

  &:hover {
    .editBorder {
      opacity: 1;
      transition: $transition;
    }
  }
}

.editBorder {
  position: absolute;
  border: 1px solid $color-gray;
  background-color: $color-lightgray;
  top: -1rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  opacity: 0;
  transition: $transition;
}

.editor {
  position: relative;
  z-index: 2;
  margin-left: 5px;
  font-weight: 300;
  font-size: 18px;
}