@import '../../../../styles/variables.scss';

.timeline {
  position: absolute;
  height: 1px;
  width: 100%;
  background: lighten(black, 80%);
}

.currentSprint {
  position: absolute;
  bottom: 0;
  border-top: 1px dashed white;
}
