@import '../../../styles/variables.scss';

.createProjectForm {
  width: 384px; // ie fix
  max-width: 100%; // ie fix
  padding: 2rem;

  @include phone {
    padding: 1rem;
    width: 100%; // ie fix
  }
}

.header {
  margin-top: 0;
}

.leftColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;

  @include phone {
    justify-content: flex-start;
    text-align: left;
  }

  p {
    margin: 0;
  }
}

.rightColumn {
  display: flex;
  align-items: center;
}

.formField {
  display: block;
  padding: 0.5rem;

  & + & {
    margin-top: 1rem;
  }
}

.buttonsContainer {
  margin-top: 2rem;

  button {
    width: 50%;

    @include phone {
      width: 100%;
    }

    &:first-child {
      @include phone {
        margin-bottom: 1rem;
      }
    }
  }
}

.selectPortfolio,
.selectType {
  width: 100%;
}
