.createProjectForm {
  width: 384px;
  padding: 2rem;
}

.header {
  margin-top: 0;
}

.leftColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  
  p {
    margin: 0;
  }
}

.rightColumn {
  display: flex;
  align-items: center;
}

.formField {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

.buttonsContainer {
  margin-top: 2rem;
}

.selectPortfolio {
  width: 100%;
}
