@import '../../../../../styles/variables.scss';

.addingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: $color-dark-gray;
  color: white;
  margin-left: 0.75rem;
  transition: $transition;
}
