.paper {
  margin-top: 50px;
  background-color: white;
  height: 50px;
  display: flex;
}

.search {
  margin: 12px 20px;
  vertical-align: top;
}

.input {
  width: 94% !important;
  vertical-align: top;
  box-sizing: border-box;
}
