@import '../../styles/variables.scss';

.itemContainer {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.itemTitle {
  margin-right: 10px;
  color: $color-dark;
  min-width: 200px;
}

.inputWidth {
  width: 300px;
}

.inputTelegram {
  display: inline-block;
  position: relative;
  width: 300px;
  &:focus-within::after {
    content: attr(data-title);
    position: absolute;
    width: 150px;
    left: 105%;
    top: 0;
    z-index: 1;
    background: #ffffcc;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #000;
  }
}

.itemValue {
  color: $color-dark-gray;
}

.selectType {
  min-width: 300px;
  max-width: 300px;
}

.actionFormUser {
  padding-top: 30px;
}
