.container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  &__group {
    margin-right: 16px;
    margin-bottom: 16px;
    & > *:nth-child(1) {
      margin-bottom: 8px;
    }
    &__dates {
      display: flex;
      width: 420px;
      & > * {
        flex-basis: 50%;
        &:not(last-of-type) {
          margin-right: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .filter {
    &__group {
      width: 100%;
    }
  }
}
