@import '../../styles/variables';

.cell {
  position: relative;
  @include text-wrap;
}

.property {
  &:before {
    content: '';
    display: table;
  }
}

.toUp {
  text-transform: uppercase;
}

.labelText {
  display: none;
  white-space: nowrap;

  @include tablet {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
  }
}

.memberRow {
  margin-left: 0;
  margin-right: 0;

  &:hover {
    background-color: $color-lightgray;

    .iconClose {
      opacity: 1;
      transition: $transition;
    }
  }

  label {
    display: inline-block;
    text-transform: capitalize;

    @include tablet {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .cell {
    padding: 8px 0;

    @include tablet {
      padding-right: 0;
    }
  }

  .cellColumn {
    @include tablet {
      flex-basis: 25%;
      width: 25%;
    }

    @include phone {
      flex-basis: 50%;
      width: 50%;
    }
  }

  h4 {
    margin: 0;
  }

  &:not(:last-child) {
    @include tablet {
      margin-bottom: 20px;
    }
  }
}

.memberColumn {
  // text-align: right;
  position: relative;
  z-index: 0; // New z-index stack created
}

.changeStage {
  min-width: 330px;
  max-width: 500px;
  padding: 2rem;

  @include phone {
    padding: 1rem;
    min-width: 250px;
  }

  h3 {
    margin-top: 0;
  }
}

.gitlabRoleParams {
  display: flex;
  margin-bottom: 16px;
  margin-bottom: 1rem;

  & > * + * {
    margin-left: 10px;
  }
}

.gitlabRoleCellWrap {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.gitlabRoleCell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.gitlabRoleProjectName {
  display: none;

  @include tablet {
    display: inline;
  }
}

.iconClose {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 8px;
  left: -16px;
  cursor: pointer;
  transition: $transition;
  fill: transparentize(#000000, 0.5);

  &:hover {
    transform: rotate(90deg);
  }
}
