@import '../../styles/variables';

.cell {
  position: relative;
}

.property {
  &:before {
    content: "";
    display: table;
  }
}

.memberRow {

  &:hover {
    background-color: $color-lightgray;

    .iconClose {
      opacity: 1;
      transition: $transition;
    }
  }

  label {
    display: block;
  }

  .cell {
    padding: 8px;
  }

  h4 {
    margin: 0;
  }
}

.memberColumn {
  // text-align: right;
}

.iconClose {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 8px;
  left: -8px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: rotate(90deg);
  }
}