@import '../../styles/variables';

.container {
  border: none;
  cursor: default;
}

.editIcon {
  display: inline-block;
  margin-left: 0.25rem;
  vertical-align: middle;
  line-height: 0;
  opacity: 0;
  transition: $transition;
}

.editable {
  cursor: pointer;

  &:hover {
    color: $color-dark;
    color: lighten($color-dark, 30%);

    .editIcon {
      opacity: 0.7;
      transition: $transition;
    }
  }
}
