@import '../../../../styles/variables.scss';

.mainContainer {
  min-width: 330px;
  max-width: 500px;
  padding: 2rem;

  h3 {
    margin-top: 0;
  }
}

.formField {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

.buttonsContainer {
  padding-top: 3rem;
  margin-top: 2rem;
  text-align: center;
  button {
    width: 50%;
  }
}

.leftColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;

  p {
    margin: 0;
  }
}

.rightColumn {
  position: relative;
}

.jiraCaptchaLink {
  border: 1px solid $color-red;
  max-width: 266px;

  a {
    color: $color-red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.errorText {
  padding: 2px;
  position: absolute;
  top: calc(100% - 9px);
  color: $color-red;
  left: 1rem;
  background-color: white;
}
