.root {
  padding: 0 !important;
  background-color: none;
  cursor: pointer;
}

.button {
  padding: 0 !important;
}

.icon {
  width: 36px;
  height: 36px;
}

.comment {
  margin: 0;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.commentInfo {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
