@import '../../../../styles/variables.scss';

.circleContainer {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-width: 1.5px;
  border-style: solid;
  border-color: #36be36;
  height: 22px;
  width: 22px;
  text-align: center;
  padding-top: 3px;
  transition: all 0.5s;
  margin-left: 1rem;
}

.simtrackTable {
  margin-left: 0.2rem;
}

.usersRolesTable {
  position: relative;
  padding-left: 0.3rem;
  th,
  td {
    height: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.3rem;
    text-align: left;
  }
}
.formField {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

.userRow {
  text-align: center;
  &:hover {
    td {
      transition: $transition;
      background: $color-gray;
    }
  }
  &__active {
    transition: $transition;
    background: $color-gray;
  }
}

.usersRolesHeader {
  text-align: center;
  &:hover {
    th {
      transition: $transition;
      background: $color-gray;
    }
  }
}

.mainContainer {
  min-width: 330px;
  max-width: 500px;
  padding: 2rem;

  h3 {
    margin-top: 0;
  }
}

.buttonsContainer {
  margin-top: 2rem;
  text-align: center;
  button {
    width: 50%;
  }
}

.innerFirstCol {
  width: 50%;
  box-sizing: border-box;
  &:last-child {
    border-left: 1px solid #ddd;
  }
}
