@import '../../../../styles/variables.scss';

.property {
  &:before {
    content: "";
    display: table;
  }
}
.rightsInfo {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  font-size: 8px;
  border-radius: 50%;
  background-color: $color-dark;
  color: $color-white;
  transition: $transition;
  cursor: pointer;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    background-color: $color-green;
  }
}

.memberRow {
  &:hover {
    background-color: $color-lightgray;
  }

  label {
    display: block;
  }

  .cell {
    padding: 8px;
    position: relative;
  }

  h4 {
    margin: 0;
  }
}

.memberColumn {
  // text-align: right;
}

.memberHeader {
  background-color: $color-gray;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;

  @include tablet {
    display: none;
  }
}

.createButton {
  margin: 15px 0 10px 0;
}

.changeStage {
  min-width: 330px;
  max-width: 500px;
  padding: 2rem;

  @include phone {
    padding: 1rem;
    min-width: 250px;
  }

  h3 {
    margin-top: 0;
  }
}

.modalContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  > div {
    margin-bottom: 1rem;
  }
  > button {
    width: 100px;
    align-self: center;
  }
}
