@import '../../styles/variables';

.wrapper {
  display: inline-block;
  cursor: pointer;
}

.pseudoSquare {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid lighten($color-black, 60%);
  transition: $transition;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: lighten($color-black, 70%);
    transition: $transition;
  }

  svg {
    opacity: 0;
    width: 16px;
    height: 16px;
    transform: scale(0.5);
    fill: white;
    transition: $transition;
  }
}

input {
  display: none;

  &:checked + .pseudoSquare {
    background-color: $color-green;
    border-color: $color-green;  

    svg {
      opacity: 1;
      transform: scale(1);
      transition: $transition;
    }
  }
}