@import '../../styles/variables';

.unit {
  display: inline-block;
  position: relative;

  &:after,
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 8px;
    background-color: $color-dark;
  }
}

.start {
  .unit:first-child {
    &:before {
      display: none;
    }
  }
}

.end {
  .unit:last-child {
    &:after {
      display: none;
    }
  }
}

.middle {
  margin-left: -8px;
}