@import '../../styles/variables';

.filters {
  margin-bottom: 24px;
}

.projectsHeader {
  margin-bottom: 3rem;
}

.title {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}