@import '../../../theme/variables.scss';

.history {
  padding: 16px 16px 0 16px;
}

.historyTitle {
  font-weight: 300;
}

.historyEvent {
  color: lighten($color-black, 20%);
  font-size: 13px;
  display: flex;
}

.time {
  box-sizing: border-box;
  width: 88px;
  padding: 8px;
  border-right: 1px solid $color-gray;
  text-align: right;
  flex-shrink: 0;
}

.historyAction {
  padding: 8px;

  a {
    text-decoration: none;
  }
}