@import '../../styles/variables';

.editSprintForm {
  padding: 2rem;
  max-width: 100%; // ie fix
  width: 475px; // ie fix

  h3 {
    text-align: center;
    margin: 0;
  }
  hr {
    margin: 20px 0 0 0;
  }
  .validateMessages {
    text-align: center;
    min-height: 35px;
    .redMessage {
      color: $color-red;
    }
    span {
      padding: 10px 0;
      display: block;
    }
  }
  input,
  .DayPickerInput {
    margin-bottom: 1rem;
  }

  @include phone {
    padding: 1rem;
    width: 100%; // ie fix
  }
}
