@import '../../../styles/variables.scss';


.titleWrapper {
  position: relative;

  @include phone {
    padding-right: 30px;
  }

  &:hover {
    .edit, .save {
      opacity: 1;
    }
  }
}

.taskName {
  width: auto;
  max-width: 65%;
  word-break: break-all;
  word-break: break-word;

  &[contenteditable="true"] {
    background-color: $color-gray;

    &:empty {
      display: inline-block;
      width: 0.5rem;
    }
  }
}

.wrong {
  background-color: $color-red !important;
  color: white;
}

.edit {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: middle;
  color: silver;
  cursor: pointer;
  padding: 7px;
  margin-left: 0.5rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid lighten($color-black, 70%);
  border-radius: 50%;
  opacity: 0;
  transition: $transition;
  position: absolute;
  bottom: 4px;

  &:hover {
    background-color: $color-lightgray;
    fill: $color-dark;
    border-color: $color-dark;
  }
}

.save {
  @extend .edit;
  color: $color-green;
  border: 1px solid $color-green;
  opacity: 1;

  &:hover {
    background-color: $color-green;
    fill: white;
    border-color: $color-green;
  }
}