.tabs {
  width: 650px;
  margin-top: 10px;
  background-color: rgb(74, 20, 140);
}

.renderAppMenuBar {
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 3px, rgba(0, 0, 0, 0.117647) 0px 2px 3px !important;
}

.topAppBar {
	box-shadow: none !important;
}