@import "../../theme/variables.scss";

.toppanel {
  height: 56px;
  background: $color-dark;
}

.logo {
  padding: 16px 32px;
  font-size: 20px;
  color: #ebebeb;
  display: block;
  text-decoration: none;

  span {
    color: $color-orange;
  }
}