@import '../../styles/variables.scss';

.container {
  max-height: 100%;
  overflow: visible;
  position: relative;
  padding: 2rem;
  max-width: 100%;
  width: 1200px;
  @include phone {
    width: 100%;
    padding: 1rem;
  }
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
  line-height: 1rem;
  height: 100%;

  p {
    margin: 0.5rem;
  }

  @include phone {
    justify-content: flex-start;
    text-align: left;
  }
}

.stepsLabel {
  p {
    font-weight: bold;
  }
  justify-content: flex-start;
}

.stepLabel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  p {
    font-weight: bold;
    margin: 0;
  }
}

.steps {
  background-color: $color-lightgray;
  height: 220px;
  overflow-y: auto;
  width: 100%;
  margin: 0 8px;
}

.step {
  & + & {
    margin-top: 1rem;
  }
}

.twoFields {
  margin-top: 1rem;
}

.field {
  display: block;

  & + & {
    margin-top: 1rem;
  }
}

.titleField {
  margin-bottom: 1rem;

  textarea {
    height: 38px !important;
    padding-top: 9px;
  }
}

.stepField {
  height: 100%;
}

.fieldInput {
  display: flex;
  align-items: flex-start;

  & > div {
    height: 100%;
  }
}

.textEditorWrapper {
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
  min-height: 5rem;
  cursor: text;
  padding: 0.5rem 1rem;
  border: 1px solid $color-gray;
  transition: $transition;
}

.stepsFillHeight {
  height: 100%;
}

.textStep {
  max-height: 80px;
  min-height: 32px;
  width: 100%;
}

.select {
  width: 100%;
}

.buttons {
  flex: 1;
  margin-top: 3rem;
  padding: 0 0.5rem;
  justify-content: flex-start;

  button {
    width: 20%;

    @include phone {
      width: 100%;
    }

    &:first-child {
      @include phone {
        margin-bottom: 1rem;
      }
    }
  }
}

.stepDeleteContainer {
  justify-content: flex-start;
  flex-shrink: 0;
}

.stepDeleteIcon {
  height: 100%;
  width: 20px;
  cursor: pointer;
  color: $color-dark-gray;
  flex-shrink: 0;
  &:hover {
    color: $color-gray;
  }
}

.attachmentName {
  word-wrap: break-word;
  color: #678bad;
  display: flex;
  margin-top: 3px;
  width: 98px;
  flex-direction: column;
  margin-right: 12px;

  img {
    width: 98px;
    height: 98px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
  }

  img:hover {
    opacity: 0.7;
  }
}

.attachmentName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.attachmentRemove {
  cursor: pointer;
  margin-top: 5px;
}

.attachmentRemove:hover {
  color: red;
}

.attachmentAbout {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.attachmentsRow {
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
}

.stepRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  margin-left: 0px;

  & > p {
    margin-right: 2px;
  }
}

.svgMargin {
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 44px;
  padding-bottom: 44px;
  box-sizing: content-box;
}

.noImages {
  margin-top: 3px;
}

.addStepIcon {
  height: 100%;
  width: 20px;
}

.addStepRow {
  padding: 1rem 8px;
}

.addStepContainer {
  cursor: pointer;
  background-color: lighten($color-dark-gray, 30%);
  justify-content: center;
  align-self: center;
  padding: 0;
  &:hover {
    background-color: $color-gray;
  }
}

.flexRow {
  flex-direction: row;
  flex: 1;
}

.rightColumn {
  display: flex;
  align-items: flex-start;
}
