@import '../../../styles/variables.scss';

.priority {
  display: inline-block;
  margin-right: 8px;
  color: white;
  padding: 0 8px;
  line-height: 16px;
  font-size: 12px;
  background: gray;

  &.third {
    background: lighten($color-dark, 10%);
  }
}