.animatedLoader-enter {
  opacity: 0.01;
}

.animatedLoader-enter.animatedLoader-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.animatedLoader-leave {
  opacity: 1;
}

.animatedLoader-leave.animatedLoader-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}