@import '../../../../styles/variables.scss';

.sprint {
  display: flex;
}

.leftBlock {
  width: 10rem;
}

.meta {
  color: gray;
  font-size: $font-size-small;
}

.rightBlock {
  flex-basis: 100%;
  position: relative;
}

.goals {
  // margin-top: 2rem;
}
