@import '../../../../styles/variables.scss';

.sprint {
  display: flex;

  & + .sprint {
    margin-top: 2rem;
  }
}

.leftBlock {
  width: 10rem;
}

.meta {
  color: gray;
  font-size: $font-size-small;
}

.rightBlock {
  flex-basis: 100%;
  position: relative;
}

.goals {
  // margin-top: 2rem;
}

.addingButton {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: $transition;

  &:hover {
    opacity: 1;
    transition: 1;
  }
}

.addingIcon {
  color: $color-dark-gray;
  margin-right: 0.5rem;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.export {
  margin-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
