@import '../../../styles/variables';

.unactive {
}
.active {
}

.button {
  flex-shrink: 0;
}

.editRow {
  padding-bottom: 32px;
}

.dates {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;

  hr {
    width: 2rem;
    border-color: lighten(black, 80%);
    margin: 0 0.5rem;
  }
}

.budgetContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  flex-wrap: nowrap;
}

.legendContainer {
  margin-left: 1rem;
  flex-wrap: wrap;
  .budgetLegend:not(:first-child) {
    vertical-align: top;
  }
  .budgetLegend {
    display: inline-block;
  }

  @include phone {
    .budgetLegend {
      display: block;
      vertical-align: baseline;
    }
    .budgetLegend:not(:first-child) {
      padding-top: 1rem;
    }
  }
}

.budgetLegend {
  margin-left: 1rem;
}

.riskMarker {
  font-size: $font-size-small;
  color: gray;
  margin-top: 0.5rem;

  &:before {
    content: '';
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: text-top;
    background-color: $color-orange;
  }
}

.graph {
  border-left: 1px solid lighten($color-black, 70%);
  border-right: 1px solid lighten($color-black, 70%);
  display: flex;
  overflow: auto;
  position: relative;
  z-index: 0; // New z-index stack created
  margin-bottom: 1rem;

  &::-webkit-scrollbar-track {
    background-color: $color-gray;
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $color-gray;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($color-dark, 50%);
  }
}

.wrapper {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;

  @include tablet {
    width: 1000px;
  }
}

.table {
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-wrap: wrap;
  width: calc(100% - 17rem);
  overflow: hidden;
  border-left: 1px solid lighten($color-black, 70%);
}

.grid {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: -1;
  box-sizing: border-box;

  & > * {
    flex: 1;
    border-right: 1px solid lighten($color-black, 70%);
    border-bottom: 1px solid lighten($color-black, 70%);
    margin-top: 2rem;
  }
}

.tr {
  position: relative;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  border-top: 1px solid lighten($color-black, 70%);
  border-right: 1px solid lighten($color-black, 70%);
  display: flex;
  align-items: stretch;
  flex-shrink: 0;

  & > .year {
    flex-grow: 1;
  }

  & > .month {
    flex: 1;
  }
}

.year {
  display: flex;
  text-align: center;
  align-items: stretch;
  justify-content: center;

  .prev,
  .next,
  .current {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .prev,
  .next {
    cursor: pointer;
    background-color: $color-lightgray;
    color: gray;
    flex: 1;
    transition: $transition;

    &:hover {
      color: $color-black;
      background-color: $color-gray;
      transition: $transition;
    }
  }

  .current {
    font-weight: bold;
    flex: 1;
  }

  .arrow {
    cursor: pointer;
    padding: 0.3rem;
  }
}

.month {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprintsListLine {
  &:hover {
    .delete,
    .edit {
      opacity: 1;
    }
  }
}

.sprintNames {
  width: 9rem;
  padding-top: 4rem;
  flex-shrink: 0;
  flex-direction: column;
  border-top: 1px solid lighten($color-black, 70%);
  border-bottom: 1px solid lighten($color-black, 70%);

  & > * {
    height: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0.5rem;

    .name {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      margin-right: 1rem;

      &.nameMargin {
        margin-left: 1.2rem;
      }

      &:hover ~ .edit {
        opacity: 1;
      }
      &:hover ~ .delete {
        opacity: 1;
      }
    }

    .selection {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -5000px;
      opacity: 0;
      z-index: 1;
      transition: $transition;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($color-black, 0.05);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.timeValue {
  overflow: hidden;
  text-overflow: ellipsis;
}

.spentTime {
  width: 4rem;
  padding-top: 2rem;

  .header {
    flex: 3;
  }
}

.sprintBar {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;

  &.unactive {
    background-color: lighten($color-dark, 55%);
  }

  &.finished {
    background-color: darken($color-gray, 10%);
  }

  &.future {
    background-color: lighten($color-dark, 10%);
  }

  &.active {
    background-color: $color-green;
  }

  .text {
    flex: 1;
    line-height: 1;
  }
}

$tooltip-border: 1px solid lighten(black, 85%);

.SprintInfo__tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 1.5rem;
  top: 50%;
  margin-top: -0.75rem;
  margin-left: 0.75rem;
  left: 100%;
  background-color: $color-lightgray;
  border: $tooltip-border;
  color: gray;
  z-index: 5;
  min-width: 6rem;
  text-align: center;
  .text {
    font-size: 11px;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  &:nth-of-type(2) {
    top: 50%;
  }
  &:after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: $color-lightgray;
    border: $tooltip-border;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    position: absolute;
    left: -0.5rem;
  }
  &.toRight {
    left: initial;
    right: 100%;
    margin-right: 0.75rem;

    &:after {
      left: initial;
      right: -0.5rem;
      border-bottom: none;
      border-left: none;
      border-top: $tooltip-border;
      border-right: $tooltip-border;
    }
  }
}

.milestoneBar {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  line-height: 5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: $color-red;
    cursor: pointer;
  }
  &.client {
    > div {
      transform: none;
      border-radius: 50%;
    }
  }
  &.inside {
    > div {
      transform: none;
      border-radius: 15px;
      position: relative;
      color: #fff;
      background: none !important;
      &:after {
        content: '';
        position: absolute;
        left: -1px;
        border: 6px solid transparent;
        border-top: 10px solid $color-red;
      }
    }
  }
  &.done {
    > div {
      &:after {
        border-top-color: $color-green;
      }
    }
  }
  &.review {
    > div {
      transform: none;
    }
  }
  &.done {
    > div {
      background-color: $color-green;
    }
  }
}

.boardTitle {
  height: 2rem;
  display: flex;
  align-items: center;
}

.sprintMarker {
  display: flex !important;
  align-items: center;

  span {
    display: inline-block;
  }

  &:before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: silver;
    margin-right: 0.5rem;
    vertical-align: text-top;
  }
}

.INPROGRESS:before {
  background-color: $color-green;
}

.PLANNED:before {
  background-color: lighten($color-dark, 10%);
}

.FINISHED:before {
  background-color: darken($color-gray, 10%);
}

.edit,
.delete {
  position: absolute;
  right: 20px;
  z-index: 1;
  opacity: 0;
  display: inline-block;
  box-sizing: content-box;
  vertical-align: center;
  color: silver;
  cursor: pointer;
  padding: 2px;
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;
  transition: opacity 100ms;
  transform: translate3d(0, 0, 0);

  &:hover {
    opacity: 1;
    background-color: $color-lightgray;
    fill: $color-dark;
    + .delete {
      opacity: 1;
    }
  }
}

.delete {
  right: 0;
}

.timeline {
  position: absolute;
  border-left: 1px solid $color-green;
  border-right: 1px solid $color-green;
  height: calc(100% - 96px);
  z-index: 2;
  opacity: 0.5;
  top: 64px;
  .timelineInfo {
    position: absolute;
    top: -11px;
    left: -15px;
    color: $color-green;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }
}

.moveTasksBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  @include phone {
    justify-content: flex-start;
  }

  .mobeButtonLabel {
    display: none;
    color: $color-dark-gray;

    @include phone {
      display: block;
      margin-left: 0.5rem;
    }
  }

  .leftBranch,
  .rightBranch {
    margin: 0 0.5rem;
    position: relative;
    top: 0.5rem;
    width: 3rem;
    height: 1rem;
    border: 1px solid silver;
    border-bottom: none;

    @include phone {
      display: none;
    }
  }

  .leftBranch {
    border-right: none;
  }
  .rightBranch {
    border-left: none;
  }
}

.rightColumn {
  @include phone {
    order: 5;
  }
}

.resultLine {
  border-bottom: 1px solid lighten($color-black, 70%);
  border-right: 1px solid lighten($color-black, 70%);
  background-color: $color-lightgray;
  height: 33px;
}

.resultName {
  font-weight: 700;
  border-top: 1px solid lighten($color-black, 70%);
}

.resultTime {
  border-top: 1px solid lighten($color-black, 70%);
}
