.loginForm {
	margin-top: 2rem;

	input:-webkit-autofill {
		background-color: transparent;
		background: transparent;
	    -webkit-box-shadow: 0 0 0px 1000px white inset;
	}
}

/*.loginForm input:-webkit-autofill {
	background-color: transparent;
	background: transparent;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}*/