@import '../../../styles/variables';

.projectCard {
  padding: 1rem;
  box-sizing: border-box;
  height: calc(100% - 1rem);
  transition: $transition;
  border-top: 1px solid $color-gray;

  &:hover {
    background-color: $color-lightgray;
  }
}

.meta {
  font-size: 11px;
  color: gray;
  margin: 0;
  
  .sprint + .sprint {
    margin-left: 6.15rem;
  }

  span {
    display: inline-block;

    &:first-child {
      margin-right: 4px;
    }
  }
}

.tags {
  border-left: 1px solid $color-gray;
  height: 100%;
  padding-left: 1rem;
}

.metaBox {
  border-left: 1px solid $color-gray;
  padding-left: 1rem;
}

.statusMarker {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  background-color: lightgray;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  &.INPROGRESS { background-color: $color-green; }
  &.INHOLD { background-color: $color-blue; }
  &.FINISHED { background-color: $color-dark; }
}

.title {
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
  }
}

.child {
  margin-left: 1.5rem;
}
