@import '../../../styles/variables.scss';

.commentsTitle {
	font-weight: 300;
}

.commentList {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;
	}

	ul {
		padding-left: 36px;
	}
}

.comment {
	display: flex;
	margin-top: 24px;

	&:hover {
		.commentAction {
			opacity: 1;
			transition: all 0.3s ease-out 0s;
		}
	}

	a {
		text-decoration: none;
	}
}

.ava {
	height: 56px;
	width: 56px;
	background: $color-dark;
	color: lighten($color-dark, 30%);
	margin-right: 16px;
	border-radius: 50%;
	position: relative;
	display: flex;
	flex-shrink: 0;
	overflow: hidden;
	justify-content: center;
	align-items: center;
  font-size: 24px;
  font-weight: 300;
  user-select: none;
  cursor: default;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.commentMeta {
	margin-bottom: 8px;
	color: lighten($color-black, 50%);
	font-size: 12px;
}

.commentAction {
	margin-top: 8px;
	font-size: 12px;
	opacity: 0;
	transition: all 0.3s ease-out 0s;
}