@import '../../../styles/variables.scss';

.commentList {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;

  li {
    list-style-type: none;
  }

  ul {
    padding-left: 36px;
  }
}

.commentContainer {
  padding: 0.5rem;
  transition: $transition;
}

.comment {
  display: flex;
  cursor: pointer;
  &:hover {
    .commentAction {
      opacity: 1;
      transition: all 0.3s ease-out 0s;
    }
  }
  .commentAction {
    display: flex;
    font-size: $font-size-small;
    & a {
      padding-right: 0.5rem;
      color: silver;
      transition: $transition;

      &:hover {
        color: $color-dark;
        transition: $transition;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.ava {
  height: 56px;
  width: 56px;
  background: $color-dark;
  color: lighten($color-dark, 30%);
  margin-right: 16px;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  user-select: none;
  cursor: default;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.commentBody {
  flex-grow: 0;
  width: calc(100% - 4.5rem);
}

.commentMeta {
  margin-bottom: 8px;
  color: lighten($color-black, 50%);
  font-size: 12px;
}

.commentAction {
  margin-top: 8px;
  font-size: 12px;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}

.commentQuote {
  display: flex;
  border: 1px solid $color-gray;
  white-space: nowrap;
  background-color: $color-lightgray;
  color: gray;
  padding: 0.5rem;
  font-size: 12px;
  margin-bottom: 0.5rem;
  cursor: pointer;

  @include phone {
    flex-wrap: wrap;
  }
}

.commentQuoteDate {
  display: inline-block;
  color: lighten(gray, 15%);
  margin-right: 0.5rem;
}

.commentQuoteAutor {
  display: inline-block;
  margin-right: 0.5rem;
}

.commentText {
  white-space: pre-line;
  word-break: break-all;
  word-break: break-word;
}

.quoteText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background-color: $color-gray;
  transition: $transition;
}

.answerLine {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  position: relative;
  @include phone {
    flex-direction: column;
  }
  button {
    flex-shrink: 0;
  }
  textarea {
    width: 100%;
    max-width: 100%;
    transition: height 0.3s;
    &.resizeTrue {
      resize: vertical !important;
    }
    @include phone {
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .answerButton {
    align-self: flex-end;
    margin-left: 1rem;
    button {
      width: 100%;
      max-width: 100px;
    }
    @include phone {
      align-self: flex-start;
      max-width: 150px;
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
.answerLineText {
  flex-basis: 60%;
  flex-grow: 1;
  position: relative;

  @include phone {
    width: 100%;
  }
}

.sendIcon {
  position: absolute;
  font-size: 1.5rem;
  top: 0.25rem;
  right: 0.5rem;
  opacity: 0.4;
  cursor: pointer;
  transition: $transition;

  &:hover {
    opacity: 0.6;
    transition: $transition;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;

  &:hover {
    opacity: 0.3;
  }
}

.noCommentsYet {
  text-align: center;
}

.answerInfo {
  width: 100%;
  margin-top: 4px;
  padding-left: calc(0.5rem + 1px);
  font-size: $font-size-small;
  line-height: $font-size-small;
  color: silver;
}

.quoteCancel {
  // vertical-align: text-bottom;
  cursor: pointer;

  &:hover {
    color: $color-dark;
  }
}

.outDatedToolTip {
  color: $color-red;
  text-decoration: underline dotted;
}
