.icon {
  display: inline-block;
  fill: currentColor;
  user-select: none;
  width: 1em;
  height: 1em;
}

.stroked {
  stroke: currentColor;
}

.demoContainer {
  display: flex;
  margin: 3rem auto;
  width: 100%;
  max-width: 960px;
  flex-wrap: wrap;
  font-size: 3rem;
  color: gray;
}

.demoIcon {
  width: 20%;
  box-sizing: border-box;
  margin: 2rem 0;
  text-align: center;

  & > div {
    font-size: 1rem;
  }
}

.animateCap {
  transform-origin: 14px 5px;
  animation: animateCup 1s infinite ease-in-out;
}

@keyframes animateCup {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}