@import '../../../styles/variables';


.filters {
  margin-bottom: 2rem;
}

.checkedFilters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;

  label {

    @include phone {
      margin-bottom: 1rem;
    }
  }
}

.search {

  > div {
    @include phone {
      margin-bottom: 1rem;
    }
  }
}