@import '../../../styles/variables.scss';

.changedSprint {
  position: relative;
  @include phone {
    flex-basis: auto;
    margin-bottom: 1rem;
  }
  .sprintTimeWrapper {
    pointer-events: none;
    position: absolute;
    top: 5px;
    right: 40px;

    .sprintTime {
      display: block;
      text-align: right;
      line-height: 1rem;
      margin: 4px 0 14px;
      @include phone {
        display: none;
      }
    }
  }
}

.filtersRow {
  margin-bottom: 1rem;
  .filterButtonCol {
    display: flex;
    padding: 0 8px;
    align-items: flex-start;
  }
  @include phone {
    flex-direction: column; // ie fix
    flex-basis: auto; // ie fix
    > div {
      margin-bottom: 1rem;
    }
  }
}

//Fixes collapsing margin blinking issue during transition
.filtersRowWrapper {
  padding: 1px;
}
