@import '../../styles/variables.scss';

.container {
  & + & {
    margin-top: 1rem;
  }
  border: 1px solid $color-gray;
}

.description {
  @include text-wrap;
  margin-top: 0;
}

.title {
  @include text-wrap;
  font-weight: bold;
}

.header {
  background-color: $color-lightgray;
  border-bottom: 1px solid $color-gray;
  padding: 0.05rem 1rem;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background-color: lighten(black, 95%);
    transition: $transition;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.showMoreIcon {
  fill: $color-dark-gray;
  width: 21px;
  height: 21px;
  transition: transform 0.3s ease;
  will-change: transform;
}

.iconReverse {
  transform-origin: 50% 50%;
  transform: scale(1, -1);
}
