.mentions {
  position: relative;
  ul {
    position: absolute;
    max-height: 10rem;
    overflow-y: scroll;
    padding-left: 0;
    z-index: 2; /* Global z-index context (dropdown-layer) */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.17);
    top: calc(100% + 1px);
    left: -1px;
    right: -1px;
    width: 240px;
  }
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s ease-out 0s;
    div {
      padding: 7px 15px;
      width: 100%;
      height: 100%;
      &:hover,
      &:focus {
        background-color: #f1f1f1;
        transition: 0.3s ease-out 0s;
      }
    }
    .focused {
      background-color: #f1f1f1;
      transition: 0.3s ease-out 0s;
    }
  }

  [class*='__input'] {
    box-sizing: content-box !important;
  }
}
